body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    }

header {
    background:#fcb040;
    padding: .25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    display: grid;
    place-items: center;
}

main {
display: grid;
grid-gap: 1rem;
background: #4e7792;
}

.visual {
height: 100px;
width: 100%;
background: #03a454;
margin: 0.5rem 0;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
background: #4e7792;
padding: .33rem;
}

footer {
background:#fcb040;
padding: .33rem;
text-align: center;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

.select_it {
    font-size: 12px;
}

td {
    font-size: 12px;
}

h1 {
    font-size: 16px;
}

.mylist {
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem 0;
}

#myselect {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 98.65%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
}